body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

.nav_right_section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav_right_section a{
    color: black;
    margin: auto 5px;
}

.icon-apps{
    font-size: 25px;
    color: gray;
}


.nav_right_section img{
    border-radius: 50%;
}


main{
    display: flex; 
    height: calc(100vh - 112px);
    justify-content: center;
    text-align: center;
}

.container{
    align-self: center;
}

 .logo_container{
    width: 530px;
    margin: 0 auto;
}
 .logo_container img{
    width: 300px;
}


.searcher{
    width: 530px;
    position: relative;
    height: 50px;
    margin: 35px auto;
}

.searcher_container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #DFE1E5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcher_container input{
    width: 420px;
    height: 40px;
    border: none;
    outline: none;
}

.searcher_container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #DFE1E500;
}


.icon-search, .icon-keyboard_voice{
    position: absolute;
    font-size: 28px;
    top: 12px;
}

.icon-search{
    left: 15px;
    justify-self: center;
    color: #9AA0A6;
    
}
.icon-keyboard_voice{
    right: 15px;
    color: blue;
    cursor: pointer;
}

.main_buttons{
    width: 530px;
    margin: 0 auto;
}

.main_buttons div{
    display: inline-block;
    margin: auto 5px;
}

.main_buttons button{
    height: 36px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    color: #5F6368;
    background-color: #F2F2F2 ;
    font-size: 14px;
    cursor: pointer;
}
.main_buttons button:hover{
    border: 1px solid #C6C6C6;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    height: 50px;
    border-top: 1px solid #E4E4E4;
}

footer ul{
    padding-left: 0;
}

.footer_left li, .footer_right li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

footer ul li a{
    margin: auto 5px;
    text-decoration: none;
    color: gray;
}